<% include partials/header %>
<h1>welcome to dashboard</h1>





<a href="/postjob">Post a Task</a>


 <p>
                   <a href = "/fldashboard/<%= user._id%>" class =  "btn btn-primary"> Go to profile </a>
                   </p>
